.navbar {
	background-color: #930303;
	border: 0px;
	margin-bottom: 0px;
	border-bottom: 1px solid white;
}

.navbar-brand {
	padding: 0;
}

.icon-bar {
	background-color: white;
}

.navbar-toggle {
	border:1px solid white;
}

.navbar-toggle:hover {
	background-color: #660000;
}

.navbar-nav > li > a {
  color: white;
}

.navbar-nav > li > a:hover{
  background-color: #660000;
}

.dropdown-menu {
  background-color: #930303;
}

.dropdown-menu >li > a {
	color: white;
}

.dropdown-menu > li > a:hover {
  color: white;
  background-color: #660000;
}

.logo {
	width: 246px;
	height: 50px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #930303;
}

/*.nav>li>a {
	background-color: #930303;
}*/

/*.nav>li>a:visited {
	background-color: #930303;
}*/

.nav>li>a:hover {
	background-color: #660000;
}

/*.nav>li>a:focus {
	background-color: #930303;
}*/

.navbar {
	min-width: 341px;
}

.navbar-text {
  color: white;
}

/*.active {
	background-color: #660000;
}*/

.poz > a {
	background-color: #660000;
}

.breadcrumb {
	background-color: #930303;
}

.breadcrumb > li >a {
  color: white;
}

.breadcrumb > li + li:before {
  content: ">";
}

.etf {
	width: 30px;
	height: 30px;
}

.foot {
	padding: 0px;	
}

.navbar-text {
	font-size: 11px;
}