.navbar {
	background-color: #930303;
	border: 1px solid white;
}

.navbar-brand {
	padding: 0;
}

.icon-bar {
	background-color: white;
}

.navbar-toggle {
	border:1px solid white;
}

.navbar-nav > li > a {
  color: white;
}

.logo {
	width: 100%;
	height: 100%;
}