.navbar {
	background-color: #930303;
	border: 0px;
	margin-bottom: 0px;
	border-bottom: 1px solid white;
}

.navbar-brand {
	padding: 0;
}

.icon-bar {
	background-color: white;
}

.navbar-toggle {
	border:1px solid white;
}

.navbar-toggle:hover {
	background-color: #660000;
}

.navbar-nav > li > a {
  color: white;
}

.navbar-nav > li > a:hover{
  background-color: #660000;
}

.dropdown-menu {
  background-color: #930303;
}

.dropdown-menu >li > a {
	color: white;
}

.dropdown-menu > li > a:hover {
  color: white;
  background-color: #660000;
}

.logo {
	width: 246px;
	height: 50px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #930303;
}

/*.nav>li>a {
	background-color: #930303;
}*/

/*.nav>li>a:visited {
	background-color: #930303;
}*/

.nav>li>a:hover {
	background-color: #660000;
}

/*.nav>li>a:focus {
	background-color: #930303;
}*/

.navbar {
	min-width: 341px;
}

.navbar-text {
  color: white;
}

/*.active {
	background-color: #660000;
}*/

.active > a {
	background-color: #660000;
}

.breadcrumb {
	background-color: transparent;
}

.breadcrumb > li >a {
  color: #930303;
}

.breadcrumb > li + li:before {
  content: ">";
}

.etf {
	width: 30px;
	height: 30px;
}

.foot {
	padding: 0px;	
}

.navbar-text {
	font-size: 11px;
}

.btn-primary {
  color: #ffffff;
  background-color: #333399;
  border-color: #333399;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #000066;
  border-color: #000066;
}

.sadrzaj {
	width: auto;
}

.col-md-4 {
	text-align: center;
}

.dugme1 {
	margin-top: 25px;
	margin-right: 10px;
 	padding: 9px 13px;
}

.wrapper {
	padding-left: 0px;
	padding-right: 0px;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
	background-color: #660000;
}

.page-header {
    border-bottom: 1px solid #930303;
}

.panel-default {
    border-color: #930303;
}

h1 {
	font-family: Georgia;
}

h2,h3 {
	font-family: Book Antiqua;
}

.list-group-item {
    background-color: #FFF;
    border: 1px solid #930303;;
}